name: Release to devel

on:
    push:
        branches:
            - 'integration/**'

jobs:
    checks:
        runs-on: ubuntu-latest
        name: Check application
        steps:
            # Setup
            -   uses: actions/checkout@v6

            -   name: '[PHP] Setup'
                uses: shivammathur/setup-php@v2
                with:
                    php-version: 8.1
                    extensions: mbstring, intl

            # Prepare application
            -   name: '[INIT] Check composer.json'
                run: composer validate --no-check-all --no-check-publish --no-check-lock

            # Install dependencies
            -   name: '[Install] Install composer dependencies'
                run: composer install

            # Check application
            -   name: '[CHECK] analyze'
                run: composer analyze

            -   name: '[CHECK] phpstan'
                run: composer phpstan

            -   name: '[CHECK] Unit tests'
                run: composer test-ci

    download-deploy-console:
        runs-on: ubuntu-latest
        name: Download deploy-console
        steps:
            # Deploy console
            -   name: '[DEPLOY-CONSOLE] Generate token'
                uses: actions/create-github-app-token@v1
                id: generate_token
                with:
                    app-id: ${{ secrets.APP_DEPLOY_CONSOLE_APP_ID }}
                    private-key: ${{ secrets.APP_DEPLOY_CONSOLE_APP_PRIVATE_KEY }}
                    owner: ${{ github.repository_owner }}
                    repositories: deploy-console

            -   name: '[DEPLOY-CONSOLE] Download deploy-console'
                uses: dsaltares/fetch-gh-release-asset@master
                with:
                    repo: 'vysokeskoly/deploy-console'
                    version: 'latest'
                    file: 'deploy-console.phar'
                    token: ${{ steps.generate_token.outputs.token }}

            -   name: '[ARTIFACT] Upload a deploy-console'
                uses: actions/upload-artifact@v4
                with:
                    name: deploy-console
                    path: './deploy-console.phar'

    build:
        runs-on: ubuntu-latest
        name: Build deb package
        environment: devel
        steps:
            # Setup
            -   uses: actions/checkout@v6

            # Build
            -   name: '[BUILD] Build deb package'
                run: bin/build-deb-app
                env:
                    BUILD_NUMBER: ${{ github.run_id }}
                    BUILD_URL: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}

            -   name: '[ARTIFACT] Upload a deploy-console'
                uses: actions/upload-artifact@v4
                with:
                    name: deb-package
                    path: './*.deb'

    release:
        runs-on: ubuntu-latest
        name: Release deb packages
        needs:
            - checks
            - download-deploy-console
            - build
        concurrency:
            group: ${{ format('{0}-{1}', github.workflow, github.job) }}
        environment: devel
        steps:
            # Setup
            -   uses: actions/checkout@v6

            -   name: '[PHP] Setup PHP'
                uses: shivammathur/setup-php@v2
                with:
                    php-version: 8.1
                    extensions: mbstring, intl

            -   name: '[ARTIFACT] Download artifacts'
                uses: actions/download-artifact@v4

            -   name: '[ARTIFACT] Move to root'
                run: |
                    mv deb-package/* ./
                    mv deploy-console/* ./

            -   name: '[DEPLOY-CONSOLE] Grant execute for deploy-console'
                run: chmod +x ./deploy-console.phar

            -   name: '[DEPLOY-CONSOLE] Display deploy-console info'
                run: ./deploy-console.phar -V

            -   name: '[DEB] Display deb package'
                run: ls -l *.deb

            # Connect to VPN
            # there is a problem with compatibility of openvpn
            # last version it worked on is 2.5.11-0ubuntu0.22.04.1
            # from version 2.6.12-0ubuntu0.24.04.1 it is not working and must be fixed in the future
            # see versions here: https://launchpad.net/ubuntu/+source/openvpn
            -   name: '[VPN] Install Open VPN'
                run: |
                    sudo apt-get clean
                    sudo rm -rf /var/lib/apt/lists/*
                    sudo apt-get update
                    sudo apt-get install -y libpkcs11-helper1
                    wget http://security.ubuntu.com/ubuntu/pool/main/o/openvpn/openvpn_2.5.11-0ubuntu0.22.04.1_amd64.deb
                    sudo dpkg -i openvpn_2.5.11-0ubuntu0.22.04.1_amd64.deb
                    sudo apt-get -f install
                    sudo apt-get install -y openvpn-systemd-resolved
                    openvpn --version

            -   name: '[VPN] Prepare Certs'
                shell: bash
                run: |
                    echo $CA_CRT | base64 -d > ca.crt
                    echo $USER_CRT | base64 -d > client.crt
                    echo $USER_KEY | base64 -d > client.key
                env:
                    CA_CRT: ${{ secrets.VPN_CA }}
                    USER_CRT: ${{ secrets.VPN_CRT }}
                    USER_KEY: ${{ secrets.VPN_KEY }}

            -   name: '[VPN] Connect'
                uses: kota65535/github-openvpn-connect-action@v2
                id: connect_vpn
                with:
                    config_file: .github/vpn/config.ovpn
                    username: ${{ secrets.VPN_USERNAME }}
                    password: ${{ secrets.VPN_PASSWORD }}

            # SSH
            -   name: '[SSH] Define IP for private servers'
                run: |
                    sudo echo "172.27.129.17  apback-2.devel" | sudo tee -a /etc/hosts
                    sudo echo "172.27.128.47  release.vysokeskoly.cz" | sudo tee -a /etc/hosts

            -   name: '[SSH] Prepare ssh key'
                run: |
                    mkdir -p /home/runner/.ssh
                    echo '${{ secrets.SSH_KEY_RELEASE }}' > /home/runner/.ssh/id_rsa
                    chmod 700 /home/runner/.ssh/
                    chmod 600 /home/runner/.ssh/id_rsa

            # Release to devel
            -   name: '[RELEASE] Release deb to devel'
                uses: nick-fields/retry@v2  # https://github.com/marketplace/actions/retry-step
                with:
                    timeout_minutes: 14
                    max_attempts: 3
                    #retry_on: timeout
                    command: |
                        ./deploy-console.phar d:release devel "Github release - ${{ github.ref_type }}: ${{ github.ref_name }}" -P

            # Notify
            -   name: Slack Notification - success
                if: success()
                uses: rtCamp/action-slack-notify@v2
                env:
                    SLACK_CHANNEL: release-devel
                    SLACK_COLOR: ${{ job.status }} # or a specific color like 'good' or '#ff00ff'
                    #SLACK_ICON: https://github.com/rtCamp.png?size=48
                    SLACK_MESSAGE: ':rocket: Release successful :white_check_mark:'
                    SLACK_TITLE: SolrFeeder - Release to devel
                    SLACK_USERNAME: Github Action
                    SLACK_WEBHOOK: ${{ secrets.SLACK_RELEASE_DEVEL_WEBHOOK }}

            -   name: Slack Notification - fail
                if: failure()
                uses: rtCamp/action-slack-notify@v2
                env:
                    SLACK_CHANNEL: release-devel
                    SLACK_COLOR: ${{ job.status }} # or a specific color like 'good' or '#ff00ff'
                    #SLACK_ICON: https://github.com/rtCamp.png?size=48
                    SLACK_MESSAGE: ':rocket: Release failed :boom:'
                    SLACK_TITLE: SolrFeeder - Release to devel
                    SLACK_USERNAME: Github Action
                    SLACK_WEBHOOK: ${{ secrets.SLACK_RELEASE_DEVEL_WEBHOOK }}
